/* .all{
    font-family: Monospace;
} */

body{

    font-family:"Microsoft Yahei";
    
}
.left {
    float: left;
    width: 30.3%;
    position: relative;

    
}
.right {
    float: right;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0%;
    position: relative;
    border-left: #d7f6fa solid 3px; ;


    width: 70%;
}
.left img {
    max-width: 100%;
}

.post div {
    max-width: 100%;
}

.post table {
    width: 100%;
    padding-left: 10px;
}

.saytag {

    font-size: 1;
    width: auto;
    height: 20px;
    /* background-color: rgb(180, 53, 14); */
    color: rgb(255, 181, 132);
    border-color: rgb(198, 166, 199);
    /* border-style: solid; */
    /* border-radius: 30px; */
}

@media screen and (max-width: 600px) {
    .right{
      width: 100%;
    }
  }