{% extends "base.html" %}

{% block content %}
    {% if current_user.is_anonymous or not current_user.is_authenticated %}
        <h1>Hi</h1>
        <p>快点去注册啦！oao</p>
    {% else %}
    <h1>Hi, {{ user.username }}!</h1>

    {% for post in posts %}
    <div class="col-md-6 col-md-offset-3">
<!--        <img src="{{ current_user.user_avatar() }}" alt="user's avatar" height="30" width="30" />-->
<!--        <p>{{ post.author.username }} says:</p>-->
<!--        <p><b>{{ post.body }}</b> —— {{ post.timestamp }}</p></div>-->

        <div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <li>
                <img src="{{ post.author.user_avatar() }}" alt="user's avatar" height="30" width="30" />
                <a href="{{ url_for('userpage',username=post.author.username) }}">{{ post.author.username }}</a>
            </li>
        </h3>
    </div>
    <div class="panel-body">
        <h3><a href="{{ url_for('post_page',pid=post.id) }}" >{{ post.title }} </a></b></h3></br>
          <table>
         <tr valign="top">
            <div class="container">
               <td>{{ post.author.username }} says:<br>{{ post.body|markdown|safe }}</td>

            </div>
        </tr>
              </table>
    </div>






        </div>
    </div>



    {% endfor %}
    {% endif %}
{% endblock %}