{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/post.css" >
<div class="post">
<table class="post">
    <tr>
        <td>
<!--            <div class="col-md-18 col-md-offset-3">-->
    

            <div class="post-all">
                    <div class="post-title">
                        <h1 class="title"> {{ post.title }} </h1>
                    </div>
                <a href="{{ url_for('tag_view', tag=post.tag) }}"><div  class="tag"><span class="tag">{{ post.tag }} </span></div></a>
                <div class="post-content">
                    <p class="bg-light text-dark">{{ post.body|markdown|safe }} </p>
                </div>
            </div>

        </td>
    </tr>
    <tr>
        <td>
<!--            <div class="col-md-18 col-md-offset-3">-->
                {% if current_user.id == post.user_id %}
                    <a href="{{ url_for('edit_post',pid=post.id) }}">编辑</a>
                    <a href="{{ url_for('delete_post',pid=post.id) }}">删除</a>
 
            
                {% endif %}
                    <a href="{{ url_for('post_page',pid=post.id) }}">全部评论</a>      
        </td>
    </tr>
    <tr>
        <td>
            <div>

            </div>
            <div class="replys">

            {% for reply in replys %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                <img src="{{ reply.author.user_avatar() }}" alt="avatar" height="30" width="30" /><a href="{{ url_for('userpage',username=reply.author.username) }}">{{ reply.author.username }} </a>
                </div>  
                {{ reply.body }} <br/>
                {{ reply.timestamp.strftime("%Y-%m-%d %H:%M") }}
                {% if current_user.id == reply.user_id %}
                    <a href="{{ url_for('del_reply',fpid=post.id, pid=reply.id) }}">删除</a> |
                {% endif %}
                <a href="{{ url_for('just_see',pid=post.id, uid=reply.user_id) }}">只看ta</a>
            </div>
            {% endfor %}
     
            </div>
        </td>
    </tr>
    <tr>
        <td>
        <!-- <div class="col-md-6 col-md-offset-3"> -->
		<div id='reply'>
        <form action="" method="post" novalidate enctype="multipart/form-data">

        {{ form.hidden_tag() }}

            <p>
            {{ form.reply.label }}<br>
            {{ form.reply(size=200) }}
			{% for error in form.reply.errors %}
			<span style="color: red;">[{{ error }}]</span>

            {% endfor %}
            </p>
        <p>{{ form.submit() }}</p>

         </form>
        </div>
        </td>
    </tr>

</table>


{% endblock  %}
